[Unit]
Description=Temperature Controller

[Service]
Type=notify
WorkingDirectory=/opt/TemperatureController
ExecStart=/opt/TemperatureController/TemperatureController

[Install]
WantedBy=multi-user.target