[Unit]
Description=ModBus Sensor Example

[Install]
WantedBy=multi-user.target

[Service]
Type=notify
WorkingDirectory=/opt/ModBusSensor
ExecStart=/opt/ModBusSensor/ModBusSensor
